// bower:scss
@import "foundation/scss/foundation.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.gist {width:500px !important;}
.gist-file
.gist-data {max-height: 500px;max-width: 500px;}
